body{
    text-align:center;
    background:#1d1e22;
    font-family: sans-serif;
     
  }
  button{
    width: 110px;
    height: 30px;
    margin:20px;
    border-radius: 10px;
    font-size:15px;
    font-family: sans-serif;
    font-weight:bolder;
  }
  label{
    color:white;
      font-size:30px;
  }
  div{
    border-radius: 20px
  }
  p{
    display:inline;
  }